<p>{% blocktrans trimmed %}
  If the listener uses the TERMINATED_HTTPS protocol, then one or more SSL certificates must
  be selected. The first certificate will be the default.
{% endblocktrans %}</p>
<p>{% blocktrans trimmed %}
  Use the key-manager service to create any certificate containers before creating the listener.
  The following documentation provides information on how to create a certificate container:
{% endblocktrans %}</p>
  <ul>
    <li>
      <a target="_blank" href="https://docs.openstack.org/api-guide/key-manager/containers.html#certificate-containers">
        <translate>Key Manager API Guide: Creating a Certificate Container</translate>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://docs.openstack.org/python-barbicanclient/latest/">
        <translate>Key Manager Service Command-Line Client</translate>
      </a>
    </li>
  </ul>
</p>
