<div ng-controller="PoolDetailsController as ctrl">
  <p translate>Provide the details for the pool.</p>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label translate class="control-label" for="name">Name</label>
        <input name="name" id="name" type="text" class="form-control"
               ng-model="model.spec.pool.name">
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label translate class="control-label" for="description">Description</label>
        <input name="description" id="description" type="text" class="form-control"
               ng-model="model.spec.pool.description">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label class="control-label" for="type">
          <translate>Session Persistence</translate>
        </label>
        <select class="form-control" name="type" id="type"
                ng-options="type for type in model.types"
                ng-model="model.spec.pool.type">
          <option value="">None</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6" ng-if="model.spec.pool.type === 'APP_COOKIE'">
      <div class="form-group">
        <label translate class="control-label" for="cookie">Cookie</label>
        <input name="cookie" id="cookie" type="text" class="form-control"
               ng-model="model.spec.pool.cookie">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group required">
        <label class="control-label" for="method">
          <translate>Algorithm</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control" name="method" id="method"
                ng-options="method for method in model.methods"
                ng-model="model.spec.pool.method"
                ng-required="true">
        </select>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label class="control-label required" translate>Admin State Up</label>
        <div class="form-field">
          <div class="btn-group">
            <label class="btn btn-default"
                   ng-repeat="option in ctrl.adminStateUpOptions"
                   ng-model="model.spec.pool.admin_state_up"
                   uib-btn-radio="option.value">{$ ::option.label $}</label>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
